=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class AssetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk delete assets
    # @param batch_delete_projects_request [BatchDeleteProjectsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchDeleteResult]
    def batch_delete_assets(batch_delete_projects_request, opts = {})
      data, _status_code, _headers = batch_delete_assets_with_http_info(batch_delete_projects_request, opts)
      data
    end

    # Bulk delete assets
    # @param batch_delete_projects_request [BatchDeleteProjectsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchDeleteResult, Integer, Hash)>] BatchDeleteResult data, response status code and response headers
    def batch_delete_assets_with_http_info(batch_delete_projects_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.batch_delete_assets ...'
      end
      # verify the required parameter 'batch_delete_projects_request' is set
      if @api_client.config.client_side_validation && batch_delete_projects_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_delete_projects_request' when calling AssetsApi.batch_delete_assets"
      end
      # resource path
      local_var_path = '/v1/assets/batch-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_delete_projects_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchDeleteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.batch_delete_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#batch_delete_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register an uploaded asset
    # Register an asset after it has been uploaded to Bunny Storage. Use `POST /v1/assets/upload-url` first.
    # @param asset_create [AssetCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAsset201Response]
    def create_asset(asset_create, opts = {})
      data, _status_code, _headers = create_asset_with_http_info(asset_create, opts)
      data
    end

    # Register an uploaded asset
    # Register an asset after it has been uploaded to Bunny Storage. Use &#x60;POST /v1/assets/upload-url&#x60; first.
    # @param asset_create [AssetCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAsset201Response, Integer, Hash)>] CreateAsset201Response data, response status code and response headers
    def create_asset_with_http_info(asset_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset ...'
      end
      # verify the required parameter 'asset_create' is set
      if @api_client.config.client_side_validation && asset_create.nil?
        fail ArgumentError, "Missing the required parameter 'asset_create' when calling AssetsApi.create_asset"
      end
      # resource path
      local_var_path = '/v1/assets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAsset201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an asset
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteProject200Response]
    def delete_asset(id, opts = {})
      data, _status_code, _headers = delete_asset_with_http_info(id, opts)
      data
    end

    # Delete an asset
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteProject200Response, Integer, Hash)>] DeleteProject200Response data, response status code and response headers
    def delete_asset_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AssetsApi.delete_asset"
      end
      # resource path
      local_var_path = '/v1/assets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteProject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single asset
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAsset201Response]
    def get_asset(id, opts = {})
      data, _status_code, _headers = get_asset_with_http_info(id, opts)
      data
    end

    # Get a single asset
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAsset201Response, Integer, Hash)>] CreateAsset201Response data, response status code and response headers
    def get_asset_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AssetsApi.get_asset"
      end
      # resource path
      local_var_path = '/v1/assets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAsset201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a public asset URL
    # Returns the public Bunny CDN URL for the asset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAssetSignedUrl200Response]
    def get_asset_signed_url(id, opts = {})
      data, _status_code, _headers = get_asset_signed_url_with_http_info(id, opts)
      data
    end

    # Get a public asset URL
    # Returns the public Bunny CDN URL for the asset.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetSignedUrl200Response, Integer, Hash)>] GetAssetSignedUrl200Response data, response status code and response headers
    def get_asset_signed_url_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_signed_url ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AssetsApi.get_asset_signed_url"
      end
      # resource path
      local_var_path = '/v1/assets/{id}/signed-url'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetSignedUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_signed_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_signed_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get asset upload URL
    # Returns the upload endpoint and Bunny Storage path for a new asset.
    # @param get_asset_upload_url_request [GetAssetUploadUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssetUploadUrlResponse]
    def get_asset_upload_url(get_asset_upload_url_request, opts = {})
      data, _status_code, _headers = get_asset_upload_url_with_http_info(get_asset_upload_url_request, opts)
      data
    end

    # Get asset upload URL
    # Returns the upload endpoint and Bunny Storage path for a new asset.
    # @param get_asset_upload_url_request [GetAssetUploadUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetUploadUrlResponse, Integer, Hash)>] AssetUploadUrlResponse data, response status code and response headers
    def get_asset_upload_url_with_http_info(get_asset_upload_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_upload_url ...'
      end
      # verify the required parameter 'get_asset_upload_url_request' is set
      if @api_client.config.client_side_validation && get_asset_upload_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_asset_upload_url_request' when calling AssetsApi.get_asset_upload_url"
      end
      # resource path
      local_var_path = '/v1/assets/upload-url'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_asset_upload_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetUploadUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_upload_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_upload_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workspace assets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @option opts [String] :search 
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [ListAssets200Response]
    def list_assets(opts = {})
      data, _status_code, _headers = list_assets_with_http_info(opts)
      data
    end

    # List workspace assets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @option opts [String] :search 
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [Array<(ListAssets200Response, Integer, Hash)>] ListAssets200Response data, response status code and response headers
    def list_assets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.list_assets ...'
      end
      allowable_values = ["video", "audio", "image", "font"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["created_at", "name", "type", "size_bytes", "duration"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/assets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.list_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#list_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Proxy an asset through the API
    # Streams the asset through the API so the browser can fetch it without relying on CDN CORS.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def proxy_asset(id, opts = {})
      data, _status_code, _headers = proxy_asset_with_http_info(id, opts)
      data
    end

    # Proxy an asset through the API
    # Streams the asset through the API so the browser can fetch it without relying on CDN CORS.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def proxy_asset_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.proxy_asset ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AssetsApi.proxy_asset"
      end
      # resource path
      local_var_path = '/v1/assets/{id}/proxy'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.proxy_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#proxy_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an asset file
    # Receives a multipart/form-data file upload and forwards it to Bunny Storage.
    # @param asset_id [String] 
    # @param file [File] Asset file (up to 2 GB).
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def upload_asset(asset_id, file, opts = {})
      data, _status_code, _headers = upload_asset_with_http_info(asset_id, file, opts)
      data
    end

    # Upload an asset file
    # Receives a multipart/form-data file upload and forwards it to Bunny Storage.
    # @param asset_id [String] 
    # @param file [File] Asset file (up to 2 GB).
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def upload_asset_with_http_info(asset_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.upload_asset ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.upload_asset"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AssetsApi.upload_asset"
      end
      # resource path
      local_var_path = '/v1/assets/{assetId}/upload'.sub('{assetId}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.upload_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#upload_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
