=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class IntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a workspace integration
    # @param workspace_integration_input [WorkspaceIntegrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateIntegration201Response]
    def create_integration(workspace_integration_input, opts = {})
      data, _status_code, _headers = create_integration_with_http_info(workspace_integration_input, opts)
      data
    end

    # Create a workspace integration
    # @param workspace_integration_input [WorkspaceIntegrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateIntegration201Response, Integer, Hash)>] CreateIntegration201Response data, response status code and response headers
    def create_integration_with_http_info(workspace_integration_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.create_integration ...'
      end
      # verify the required parameter 'workspace_integration_input' is set
      if @api_client.config.client_side_validation && workspace_integration_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_integration_input' when calling IntegrationsApi.create_integration"
      end
      # resource path
      local_var_path = '/v1/integrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_integration_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateIntegration201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.create_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#create_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete default destination
    # Backwards-compatible single-destination endpoint.
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def delete_destination(opts = {})
      data, _status_code, _headers = delete_destination_with_http_info(opts)
      data
    end

    # Delete default destination
    # Backwards-compatible single-destination endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def delete_destination_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.delete_destination ...'
      end
      # resource path
      local_var_path = '/v1/destination'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.delete_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#delete_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a workspace integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def delete_integration(id, opts = {})
      data, _status_code, _headers = delete_integration_with_http_info(id, opts)
      data
    end

    # Delete a workspace integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def delete_integration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.delete_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsApi.delete_integration"
      end
      # resource path
      local_var_path = '/v1/integrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.delete_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#delete_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get default destination
    # Backwards-compatible single-destination endpoint.
    # @param [Hash] opts the optional parameters
    # @return [GetDestination200Response]
    def get_destination(opts = {})
      data, _status_code, _headers = get_destination_with_http_info(opts)
      data
    end

    # Get default destination
    # Backwards-compatible single-destination endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDestination200Response, Integer, Hash)>] GetDestination200Response data, response status code and response headers
    def get_destination_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_destination ...'
      end
      # resource path
      local_var_path = '/v1/destination'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDestination200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workspace storage integrations
    # @param [Hash] opts the optional parameters
    # @return [ListIntegrations200Response]
    def list_integrations(opts = {})
      data, _status_code, _headers = list_integrations_with_http_info(opts)
      data
    end

    # List workspace storage integrations
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListIntegrations200Response, Integer, Hash)>] ListIntegrations200Response data, response status code and response headers
    def list_integrations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.list_integrations ...'
      end
      # resource path
      local_var_path = '/v1/integrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.list_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#list_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set default destination
    # Backwards-compatible single-destination endpoint.
    # @param destination_input [DestinationInput] 
    # @param [Hash] opts the optional parameters
    # @return [GetDestination200Response]
    def set_destination(destination_input, opts = {})
      data, _status_code, _headers = set_destination_with_http_info(destination_input, opts)
      data
    end

    # Set default destination
    # Backwards-compatible single-destination endpoint.
    # @param destination_input [DestinationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDestination200Response, Integer, Hash)>] GetDestination200Response data, response status code and response headers
    def set_destination_with_http_info(destination_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.set_destination ...'
      end
      # verify the required parameter 'destination_input' is set
      if @api_client.config.client_side_validation && destination_input.nil?
        fail ArgumentError, "Missing the required parameter 'destination_input' when calling IntegrationsApi.set_destination"
      end
      # resource path
      local_var_path = '/v1/destination'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(destination_input)

      # return_type
      return_type = opts[:debug_return_type] || 'GetDestination200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.set_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#set_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test default destination
    # Backwards-compatible single-destination test endpoint.
    # @param destination_input [DestinationInput] 
    # @param [Hash] opts the optional parameters
    # @return [TestIntegration200Response]
    def test_destination(destination_input, opts = {})
      data, _status_code, _headers = test_destination_with_http_info(destination_input, opts)
      data
    end

    # Test default destination
    # Backwards-compatible single-destination test endpoint.
    # @param destination_input [DestinationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestIntegration200Response, Integer, Hash)>] TestIntegration200Response data, response status code and response headers
    def test_destination_with_http_info(destination_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.test_destination ...'
      end
      # verify the required parameter 'destination_input' is set
      if @api_client.config.client_side_validation && destination_input.nil?
        fail ArgumentError, "Missing the required parameter 'destination_input' when calling IntegrationsApi.test_destination"
      end
      # resource path
      local_var_path = '/v1/destination/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(destination_input)

      # return_type
      return_type = opts[:debug_return_type] || 'TestIntegration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.test_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#test_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a workspace integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TestIntegration200Response]
    def test_integration(id, opts = {})
      data, _status_code, _headers = test_integration_with_http_info(id, opts)
      data
    end

    # Test a workspace integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestIntegration200Response, Integer, Hash)>] TestIntegration200Response data, response status code and response headers
    def test_integration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.test_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsApi.test_integration"
      end
      # resource path
      local_var_path = '/v1/integrations/{id}/test'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TestIntegration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.test_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#test_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a workspace integration
    # @param id [String] 
    # @param workspace_integration_input [WorkspaceIntegrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateIntegration201Response]
    def update_integration(id, workspace_integration_input, opts = {})
      data, _status_code, _headers = update_integration_with_http_info(id, workspace_integration_input, opts)
      data
    end

    # Update a workspace integration
    # @param id [String] 
    # @param workspace_integration_input [WorkspaceIntegrationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateIntegration201Response, Integer, Hash)>] CreateIntegration201Response data, response status code and response headers
    def update_integration_with_http_info(id, workspace_integration_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.update_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsApi.update_integration"
      end
      # verify the required parameter 'workspace_integration_input' is set
      if @api_client.config.client_side_validation && workspace_integration_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_integration_input' when calling IntegrationsApi.update_integration"
      end
      # resource path
      local_var_path = '/v1/integrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_integration_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateIntegration201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.update_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#update_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
