=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class RenderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a render job
    # Cancels a render job that has not reached a terminal state.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CancelRender200Response]
    def cancel_render(id, opts = {})
      data, _status_code, _headers = cancel_render_with_http_info(id, opts)
      data
    end

    # Cancel a render job
    # Cancels a render job that has not reached a terminal state.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelRender200Response, Integer, Hash)>] CancelRender200Response data, response status code and response headers
    def cancel_render_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.cancel_render ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.cancel_render"
      end
      # resource path
      local_var_path = '/v1/render/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelRender200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.cancel_render",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#cancel_render\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download rendered video
    # Redirects to the signed CDN URL for the completed render.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_render(id, opts = {})
      download_render_with_http_info(id, opts)
      nil
    end

    # Download rendered video
    # Redirects to the signed CDN URL for the completed render.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_render_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.download_render ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.download_render"
      end
      # resource path
      local_var_path = '/v1/render/{id}/download'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.download_render",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#download_render\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimate render cost
    # @param estimate_render_cost_request [EstimateRenderCostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RenderCostEstimate]
    def estimate_render_cost(estimate_render_cost_request, opts = {})
      data, _status_code, _headers = estimate_render_cost_with_http_info(estimate_render_cost_request, opts)
      data
    end

    # Estimate render cost
    # @param estimate_render_cost_request [EstimateRenderCostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenderCostEstimate, Integer, Hash)>] RenderCostEstimate data, response status code and response headers
    def estimate_render_cost_with_http_info(estimate_render_cost_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.estimate_render_cost ...'
      end
      # verify the required parameter 'estimate_render_cost_request' is set
      if @api_client.config.client_side_validation && estimate_render_cost_request.nil?
        fail ArgumentError, "Missing the required parameter 'estimate_render_cost_request' when calling RenderApi.estimate_render_cost"
      end
      # resource path
      local_var_path = '/v1/render/cost'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(estimate_render_cost_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RenderCostEstimate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.estimate_render_cost",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#estimate_render_cost\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rendered video download URL
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRenderDownloadUrl200Response]
    def get_render_download_url(id, opts = {})
      data, _status_code, _headers = get_render_download_url_with_http_info(id, opts)
      data
    end

    # Get rendered video download URL
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRenderDownloadUrl200Response, Integer, Hash)>] GetRenderDownloadUrl200Response data, response status code and response headers
    def get_render_download_url_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.get_render_download_url ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.get_render_download_url"
      end
      # resource path
      local_var_path = '/v1/render/{id}/download-url'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRenderDownloadUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.get_render_download_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#get_render_download_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get render job status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RenderJob]
    def get_render_status(id, opts = {})
      data, _status_code, _headers = get_render_status_with_http_info(id, opts)
      data
    end

    # Get render job status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenderJob, Integer, Hash)>] RenderJob data, response status code and response headers
    def get_render_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.get_render_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.get_render_status"
      end
      # resource path
      local_var_path = '/v1/render/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RenderJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.get_render_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#get_render_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workspace render tier
    # @param [Hash] opts the optional parameters
    # @return [TierInfo]
    def get_render_tier(opts = {})
      data, _status_code, _headers = get_render_tier_with_http_info(opts)
      data
    end

    # Get workspace render tier
    # @param [Hash] opts the optional parameters
    # @return [Array<(TierInfo, Integer, Hash)>] TierInfo data, response status code and response headers
    def get_render_tier_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.get_render_tier ...'
      end
      # resource path
      local_var_path = '/v1/render/tier'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TierInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.get_render_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#get_render_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recent renders
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<RenderListItem>]
    def list_renders(opts = {})
      data, _status_code, _headers = list_renders_with_http_info(opts)
      data
    end

    # List recent renders
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(Array<RenderListItem>, Integer, Hash)>] Array<RenderListItem> data, response status code and response headers
    def list_renders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.list_renders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RenderApi.list_renders, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RenderApi.list_renders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/render'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RenderListItem>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.list_renders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#list_renders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Queue a render job
    # Submit a `VideoJSON` payload to be rendered to MP4.
    # @param queue_render_request [QueueRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional idempotency key (max 128 chars, 24h replay window).
    # @return [QueueRender200Response]
    def queue_render(queue_render_request, opts = {})
      data, _status_code, _headers = queue_render_with_http_info(queue_render_request, opts)
      data
    end

    # Queue a render job
    # Submit a &#x60;VideoJSON&#x60; payload to be rendered to MP4.
    # @param queue_render_request [QueueRenderRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional idempotency key (max 128 chars, 24h replay window).
    # @return [Array<(QueueRender200Response, Integer, Hash)>] QueueRender200Response data, response status code and response headers
    def queue_render_with_http_info(queue_render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.queue_render ...'
      end
      # verify the required parameter 'queue_render_request' is set
      if @api_client.config.client_side_validation && queue_render_request.nil?
        fail ArgumentError, "Missing the required parameter 'queue_render_request' when calling RenderApi.queue_render"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 128
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling RenderApi.queue_render, the character length must be smaller than or equal to 128.'
      end

      # resource path
      local_var_path = '/v1/render'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(queue_render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'QueueRender200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.queue_render",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#queue_render\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh signed download URL
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RefreshRenderUrl200Response]
    def refresh_render_url(id, opts = {})
      data, _status_code, _headers = refresh_render_url_with_http_info(id, opts)
      data
    end

    # Refresh signed download URL
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefreshRenderUrl200Response, Integer, Hash)>] RefreshRenderUrl200Response data, response status code and response headers
    def refresh_render_url_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.refresh_render_url ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.refresh_render_url"
      end
      # resource path
      local_var_path = '/v1/render/{id}/refresh-url'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefreshRenderUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.refresh_render_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#refresh_render_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Track render download bandwidth
    # Records bandwidth usage for renders streamed directly from the CDN.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrackRenderBandwidth200Response]
    def track_render_bandwidth(id, opts = {})
      data, _status_code, _headers = track_render_bandwidth_with_http_info(id, opts)
      data
    end

    # Track render download bandwidth
    # Records bandwidth usage for renders streamed directly from the CDN.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackRenderBandwidth200Response, Integer, Hash)>] TrackRenderBandwidth200Response data, response status code and response headers
    def track_render_bandwidth_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderApi.track_render_bandwidth ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderApi.track_render_bandwidth"
      end
      # resource path
      local_var_path = '/v1/render/{id}/track-bandwidth'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrackRenderBandwidth200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenderApi.track_render_bandwidth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderApi#track_render_bandwidth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
