=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class RenditionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk delete renditions
    # @param batch_delete_projects_request [BatchDeleteProjectsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchDeleteResult]
    def batch_delete_renditions(batch_delete_projects_request, opts = {})
      data, _status_code, _headers = batch_delete_renditions_with_http_info(batch_delete_projects_request, opts)
      data
    end

    # Bulk delete renditions
    # @param batch_delete_projects_request [BatchDeleteProjectsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchDeleteResult, Integer, Hash)>] BatchDeleteResult data, response status code and response headers
    def batch_delete_renditions_with_http_info(batch_delete_projects_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.batch_delete_renditions ...'
      end
      # verify the required parameter 'batch_delete_projects_request' is set
      if @api_client.config.client_side_validation && batch_delete_projects_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_delete_projects_request' when calling RenditionsApi.batch_delete_renditions"
      end
      # resource path
      local_var_path = '/v1/renditions/batch-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_delete_projects_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchDeleteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.batch_delete_renditions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#batch_delete_renditions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RenditionCancelResult]
    def cancel_rendition(id, opts = {})
      data, _status_code, _headers = cancel_rendition_with_http_info(id, opts)
      data
    end

    # Cancel a rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenditionCancelResult, Integer, Hash)>] RenditionCancelResult data, response status code and response headers
    def cancel_rendition_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.cancel_rendition ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenditionsApi.cancel_rendition"
      end
      # resource path
      local_var_path = '/v1/renditions/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RenditionCancelResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.cancel_rendition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#cancel_rendition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteProject200Response]
    def delete_rendition(id, opts = {})
      data, _status_code, _headers = delete_rendition_with_http_info(id, opts)
      data
    end

    # Delete a rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteProject200Response, Integer, Hash)>] DeleteProject200Response data, response status code and response headers
    def delete_rendition_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.delete_rendition ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenditionsApi.delete_rendition"
      end
      # resource path
      local_var_path = '/v1/renditions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteProject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.delete_rendition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#delete_rendition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRendition200Response]
    def get_rendition(id, opts = {})
      data, _status_code, _headers = get_rendition_with_http_info(id, opts)
      data
    end

    # Get a single rendition
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRendition200Response, Integer, Hash)>] GetRendition200Response data, response status code and response headers
    def get_rendition_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.get_rendition ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenditionsApi.get_rendition"
      end
      # resource path
      local_var_path = '/v1/renditions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRendition200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.get_rendition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#get_rendition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get render statistics
    # @param [Hash] opts the optional parameters
    # @return [RenditionStats]
    def get_rendition_stats(opts = {})
      data, _status_code, _headers = get_rendition_stats_with_http_info(opts)
      data
    end

    # Get render statistics
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenditionStats, Integer, Hash)>] RenditionStats data, response status code and response headers
    def get_rendition_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.get_rendition_stats ...'
      end
      # resource path
      local_var_path = '/v1/renditions/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RenditionStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.get_rendition_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#get_rendition_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List render history
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @option opts [String] :project_id 
    # @return [ListRenditions200Response]
    def list_renditions(opts = {})
      data, _status_code, _headers = list_renditions_with_http_info(opts)
      data
    end

    # List render history
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :sort_by  (default to 'created_at')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [String] :status 
    # @option opts [String] :search 
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @option opts [String] :project_id 
    # @return [Array<(ListRenditions200Response, Integer, Hash)>] ListRenditions200Response data, response status code and response headers
    def list_renditions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenditionsApi.list_renditions ...'
      end
      allowable_values = ["created_at", "duration", "status", "cost", "job_id"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      allowable_values = ["queued", "processing", "rendering", "completed", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/renditions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRenditions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RenditionsApi.list_renditions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenditionsApi#list_renditions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
