=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class ToolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download a completed tool job result
    # Redirects to the CDN or signed URL for the completed output file.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_tool_job(id, opts = {})
      download_tool_job_with_http_info(id, opts)
      nil
    end

    # Download a completed tool job result
    # Redirects to the CDN or signed URL for the completed output file.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_tool_job_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_tool_job ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ToolsApi.download_tool_job"
      end
      # resource path
      local_var_path = '/v1/tools/jobs/{id}/download'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_tool_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_tool_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tool job status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ToolJobStatus]
    def get_tool_job(id, opts = {})
      data, _status_code, _headers = get_tool_job_with_http_info(id, opts)
      data
    end

    # Get tool job status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToolJobStatus, Integer, Hash)>] ToolJobStatus data, response status code and response headers
    def get_tool_job_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.get_tool_job ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ToolsApi.get_tool_job"
      end
      # resource path
      local_var_path = '/v1/tools/jobs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ToolJobStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.get_tool_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#get_tool_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Queue a cloud tool job
    # Submit a public or presigned input URL and tool-specific configuration. Simple tools run on a native ffmpeg worker; studio tools fall back to the full render pipeline.
    # @param tool_id [String] 
    # @param tool_job_request [ToolJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ToolJobStatus]
    def queue_tool_job(tool_id, tool_job_request, opts = {})
      data, _status_code, _headers = queue_tool_job_with_http_info(tool_id, tool_job_request, opts)
      data
    end

    # Queue a cloud tool job
    # Submit a public or presigned input URL and tool-specific configuration. Simple tools run on a native ffmpeg worker; studio tools fall back to the full render pipeline.
    # @param tool_id [String] 
    # @param tool_job_request [ToolJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToolJobStatus, Integer, Hash)>] ToolJobStatus data, response status code and response headers
    def queue_tool_job_with_http_info(tool_id, tool_job_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.queue_tool_job ...'
      end
      # verify the required parameter 'tool_id' is set
      if @api_client.config.client_side_validation && tool_id.nil?
        fail ArgumentError, "Missing the required parameter 'tool_id' when calling ToolsApi.queue_tool_job"
      end
      # verify the required parameter 'tool_job_request' is set
      if @api_client.config.client_side_validation && tool_job_request.nil?
        fail ArgumentError, "Missing the required parameter 'tool_job_request' when calling ToolsApi.queue_tool_job"
      end
      # resource path
      local_var_path = '/v1/tools/{toolId}/jobs'.sub('{toolId}', CGI.escape(tool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tool_job_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ToolJobStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.queue_tool_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#queue_tool_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
