=begin
#iLoveVideoEditor API

#Cloud video rendering API for iLoveVideoEditor. Submit a `VideoJSON` payload, queue a render job, and download the resulting MP4.  **Authentication** - **API Key** (`x-api-key` header) — accepted by render pipeline and tool endpoints. - **Bearer Token** (`Authorization: Bearer <jwt>`) — required for user-scoped project, asset, billing, and webhook endpoints. - Many endpoints accept either form of authentication.  **SDKs** Official typed SDKs are available for JavaScript/TypeScript, PHP, Python, Ruby, and Go. See https://ilovevideoeditor.com/docs/sdks  **Outbound Webhooks** Render lifecycle events (`render.completed`, `render.failed`) are delivered to your endpoints as signed HTTP POST requests. See the `Webhooks` tag and the root-level `x-webhook-docs` extension for the payload format (`RenderWebhookPayload`), signature headers, HMAC verification, and the retry policy.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ILoveVideoEditor
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def cancel_workflow_run(run_id, opts = {})
      data, _status_code, _headers = cancel_workflow_run_with_http_info(run_id, opts)
      data
    end

    # Cancel a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def cancel_workflow_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.cancel_workflow_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowsApi.cancel_workflow_run"
      end
      # resource path
      local_var_path = '/v1/workflows/runs/{runId}/cancel'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.cancel_workflow_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#cancel_workflow_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a workflow
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflow201Response]
    def create_workflow(create_workflow_request, opts = {})
      data, _status_code, _headers = create_workflow_with_http_info(create_workflow_request, opts)
      data
    end

    # Create a workflow
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflow201Response, Integer, Hash)>] CreateWorkflow201Response data, response status code and response headers
    def create_workflow_with_http_info(create_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow ...'
      end
      # verify the required parameter 'create_workflow_request' is set
      if @api_client.config.client_side_validation && create_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workflow_request' when calling WorkflowsApi.create_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflow201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a workflow
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def delete_workflow(id, opts = {})
      data, _status_code, _headers = delete_workflow_with_http_info(id, opts)
      data
    end

    # Delete a workflow
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def delete_workflow_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.delete_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a workflow
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflow200Response]
    def get_workflow(id, opts = {})
      data, _status_code, _headers = get_workflow_with_http_info(id, opts)
      data
    end

    # Get a workflow
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflow200Response, Integer, Hash)>] GetWorkflow200Response data, response status code and response headers
    def get_workflow_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.get_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflowRun200Response]
    def get_workflow_run(run_id, opts = {})
      data, _status_code, _headers = get_workflow_run_with_http_info(run_id, opts)
      data
    end

    # Get a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflowRun200Response, Integer, Hash)>] GetWorkflowRun200Response data, response status code and response headers
    def get_workflow_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowsApi.get_workflow_run"
      end
      # resource path
      local_var_path = '/v1/workflows/runs/{runId}'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflowRun200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflow runs
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [ListWorkflowRuns200Response]
    def list_workflow_runs(id, opts = {})
      data, _status_code, _headers = list_workflow_runs_with_http_info(id, opts)
      data
    end

    # List workflow runs
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [Array<(ListWorkflowRuns200Response, Integer, Hash)>] ListWorkflowRuns200Response data, response status code and response headers
    def list_workflow_runs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_runs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.list_workflow_runs"
      end
      # resource path
      local_var_path = '/v1/workflows/{id}/runs'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowRuns200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available workflow step types
    # @param [Hash] opts the optional parameters
    # @return [ListWorkflowStepTypes200Response]
    def list_workflow_step_types(opts = {})
      data, _status_code, _headers = list_workflow_step_types_with_http_info(opts)
      data
    end

    # List available workflow step types
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWorkflowStepTypes200Response, Integer, Hash)>] ListWorkflowStepTypes200Response data, response status code and response headers
    def list_workflow_step_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_step_types ...'
      end
      # resource path
      local_var_path = '/v1/workflows/step-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowStepTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_step_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_step_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflows
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [ListWorkflows200Response]
    def list_workflows(opts = {})
      data, _status_code, _headers = list_workflows_with_http_info(opts)
      data
    end

    # List workflows
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 25)
    # @return [Array<(ListWorkflows200Response, Integer, Hash)>] ListWorkflows200Response data, response status code and response headers
    def list_workflows_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflows ...'
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RunWorkflow202Response]
    def retry_workflow_run(run_id, opts = {})
      data, _status_code, _headers = retry_workflow_run_with_http_info(run_id, opts)
      data
    end

    # Retry a workflow run
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunWorkflow202Response, Integer, Hash)>] RunWorkflow202Response data, response status code and response headers
    def retry_workflow_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.retry_workflow_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowsApi.retry_workflow_run"
      end
      # resource path
      local_var_path = '/v1/workflows/runs/{runId}/retry'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunWorkflow202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.retry_workflow_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#retry_workflow_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry a workflow step
    # @param run_id [String] 
    # @param step_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def retry_workflow_step(run_id, step_id, opts = {})
      data, _status_code, _headers = retry_workflow_step_with_http_info(run_id, step_id, opts)
      data
    end

    # Retry a workflow step
    # @param run_id [String] 
    # @param step_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def retry_workflow_step_with_http_info(run_id, step_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.retry_workflow_step ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowsApi.retry_workflow_step"
      end
      # verify the required parameter 'step_id' is set
      if @api_client.config.client_side_validation && step_id.nil?
        fail ArgumentError, "Missing the required parameter 'step_id' when calling WorkflowsApi.retry_workflow_step"
      end
      # resource path
      local_var_path = '/v1/workflows/runs/{runId}/steps/{stepId}/retry'.sub('{runId}', CGI.escape(run_id.to_s)).sub('{stepId}', CGI.escape(step_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.retry_workflow_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#retry_workflow_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a workflow
    # @param id [String] 
    # @param run_workflow_request [RunWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunWorkflow202Response]
    def run_workflow(id, run_workflow_request, opts = {})
      data, _status_code, _headers = run_workflow_with_http_info(id, run_workflow_request, opts)
      data
    end

    # Run a workflow
    # @param id [String] 
    # @param run_workflow_request [RunWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunWorkflow202Response, Integer, Hash)>] RunWorkflow202Response data, response status code and response headers
    def run_workflow_with_http_info(id, run_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.run_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.run_workflow"
      end
      # verify the required parameter 'run_workflow_request' is set
      if @api_client.config.client_side_validation && run_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'run_workflow_request' when calling WorkflowsApi.run_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{id}/run'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(run_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunWorkflow202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.run_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#run_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Skip a workflow step
    # @param run_id [String] 
    # @param step_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAsset200Response]
    def skip_workflow_step(run_id, step_id, opts = {})
      data, _status_code, _headers = skip_workflow_step_with_http_info(run_id, step_id, opts)
      data
    end

    # Skip a workflow step
    # @param run_id [String] 
    # @param step_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAsset200Response, Integer, Hash)>] UploadAsset200Response data, response status code and response headers
    def skip_workflow_step_with_http_info(run_id, step_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.skip_workflow_step ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowsApi.skip_workflow_step"
      end
      # verify the required parameter 'step_id' is set
      if @api_client.config.client_side_validation && step_id.nil?
        fail ArgumentError, "Missing the required parameter 'step_id' when calling WorkflowsApi.skip_workflow_step"
      end
      # resource path
      local_var_path = '/v1/workflows/runs/{runId}/steps/{stepId}/skip'.sub('{runId}', CGI.escape(run_id.to_s)).sub('{stepId}', CGI.escape(step_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAsset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.skip_workflow_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#skip_workflow_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a workflow
    # @param id [String] 
    # @param update_workflow_request [UpdateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflow201Response]
    def update_workflow(id, update_workflow_request, opts = {})
      data, _status_code, _headers = update_workflow_with_http_info(id, update_workflow_request, opts)
      data
    end

    # Update a workflow
    # @param id [String] 
    # @param update_workflow_request [UpdateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflow201Response, Integer, Hash)>] CreateWorkflow201Response data, response status code and response headers
    def update_workflow_with_http_info(id, update_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsApi.update_workflow"
      end
      # verify the required parameter 'update_workflow_request' is set
      if @api_client.config.client_side_validation && update_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_workflow_request' when calling WorkflowsApi.update_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflow201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
